.page_content{
  width: 816px;
  margin: 0 auto;
}

/* circle type bullets for ul elements with class type "a" */
ul.a {
	list-style-type:circle; 
	margin-top: 5px;
}

/* font for p tags*/
p{
	font: 13px 'Arial';
	line-height: 16px; 
	margin-top: 5px; 
	margin-bottom: 0px;
}

/* font and placement for li tags with class type "a" */
li.a{
	font: 13px 'Arial';
	line-height: 16px; 
	margin-top: 2px; 
	margin-bottom: 0px;
}

/* font and placement for section headers*/
.centeredSectionHeader{
	font: bold 13px 'Arial';
	line-height: 16px; 
	text-align:center; 
	margin-top: 0px; 
	margin-bottom: 0px;
}

/* font without placement for section headers */
.title{
	font: 13px 'Arial';
	line-height: 16px; 
	margin-top: 3px; 
	margin-bottom: 5px;
}

.footnote{
	font: 12px 'Arial';
	line-height: 13px; 
	margin-top: 0px; 
	margin-bottom: 0px;
}