<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="mZnWW4G_r6LVlWGZYv19R_7wO3XWgvpg9XzkI_Uo-Ec" />
		<meta name="description" content="Adam Duke's Software Engineering site" />
		<meta name="keywords" content="Adam Duke, Adam Vincent Duke, Software Engineer, Developer, Spring, Hibernate, Java, iPhone, Oracle, Infor" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
		<title>
			{{page.title}}
		</title>
		{% include analytics.html %}
	</head>
	<body>
		<div class="site">
			<!-- HEADER -->
		    <div id="header_wrap" class="outer">
		        <header class="inner">
		          <a id="forkme_banner" href="https://github.com/adamvduke">Fork Me on GitHub</a>
		          <a id="project_title" href="/">Dev Blog</a>
		        </header>
		    </div>
		    <!-- MAIN CONTENT -->
		    <div id="main_content_wrap" class="outer">
		      <section id="main_content" class="inner">
				{{ content }}
			  </section>
			</div>
			<!-- FOOTER  -->
		    <div id="footer_wrap" class="outer">
		      <footer class="inner">
		        <a href="mailto:team@appRenaissance.com">adam.v.duke@gmail.com</a><br />
			    <a href="https://github.com/appRenaissance">github.com/adamvduke</a><br />
			    <a href="http://twitter.com/appRenaissance/">twitter.com/adamvduke</a><br />
			    <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		      </footer>
		    </div>
		</div>
	</body>
</html>
