<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Adam Duke" />
		<meta name="keywords" content="Adam Duke, Adam Vincent Duke, Software, Engineer, Developer, Spring, Hibernate, IoC, Java, iPhone, Oracle, Infor, Oracle Insurance," />
		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png" />
		<link rel="stylesheet" href="./css/main.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="./css/resume.css" type="text/css" charset="utf-8" />
		<title>
			Adam The Engineer : {{page.title}}
		</title>
	</head>
	<body class="page">
		<div class="page_header">
			<h1>
				Adam The Engineer
			</h1>
		</div>
		<div class="page_header_bar">
			<div class="navigation_container">
				<ul class="navigation_menu">
					<li>
						<a href="index.html">HOME</a>
					</li>
					<li>
						<a href="resume.html">RESUME</a>
					</li>
					<li>
						<a href="software.html">SOFTWARE</a>
					</li>
					<li>
						<a href="fabrication.html">FABRICATION</a>
					</li>
					<li>
						<a href="http://adamtheengineer.blogspot.com/">BLOG</a>
					</li>
					<li>
						<a href="contact.html">CONTACT</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page_content">
			{{ content }}
			{% include analytics.html %}
		</div>
	</body>
</html>
